.news-timeline h1 {
	margin-bottom: 2rem;
}

.news-timeline .btn {
	margin-top: 2rem;
}

.accordionWrapper.timeline {
	padding-left: 35px;
}

.accordionWrapper.timeline .accordionItem,
.accordionWrapper.timeline .accordionItemHeader {
	position: relative;
}

.accordionWrapper.timeline .accordionItemHeader::before,
.accordionWrapper.timeline .accordionItem .line {
	position: absolute;
	content: '';
	display: inline-block;
}

.accordionWrapper.timeline .accordionItemHeader::before {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	top: 20px;
	left: -30px;
	background-color: var(--color-primary);
}

.accordionWrapper.timeline .accordionItem:not(:last-child) .line {
	height: 100%;
	border-left: 2px dashed var(--color-primary);
	top: 25px;
	left: -21px;
}