.pricing-cards {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 1rem;
}

.pricing-card {
	flex: 1;
	display: flex;
	flex-direction: column;
	background-color: var(--color-white);
}

.pricing-card .img {
	position: relative;
	width: 100%;
	height: 20vh;
	background-size: cover;
	background-position: center;
}

.pricing-card .btn {
	align-self: flex-end;
	transform: translateY(-1em);
	margin-bottom: -2em;
	margin-right: 1em;
}

.pricing-card .content {
	padding: 2rem;
}

.pricing-card .content ul {
  list-style-type: none;
	margin: 0;
	padding: 0;
}

.pricing-card .content ul > li {
  text-indent: 1px;
}

.pricing-card .content ul > li:before {
  content: "-";
  margin-right: .5rem;
}

@media all and (min-width: 960px) {
	.pricing-cards {
		flex-direction: row;
		padding: 0 3rem;
	}
	.pricing-card {
		margin: 0 2.5rem;
	}
}